::selection {
  color: red;
  background: yellow;
}


p::after {
  content: " - ja tu wpadłem tylko na chwilę";
}

/*
p::first-line {
  font-size: 20px;
  text-decoration: underline;
  background-color: lightgreen;
}
*/